body {
    margin: 30;
    padding: 20;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    background: linear-gradient(135deg,#692302 0%, #cd853f 100%) ;

    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.login-container {
    background-color: #f3f2f2;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label{
    display: block;
    margin: bottom 6px;
    font-weight: bold;
}

.form-group input {
    width:100%;
    padding: 10px;
    border:1px solid #d6d0c8;
    border-radius: 6px;
    box-sizing: border-box;
}

.opcoes-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    }

.opcoes-login label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
}

.opcoes-login input [type="checkbox"]
{
    width: 16px;
    height: 16px;
    margin: 0;
    flex: 0 0 auto;
}

.btn-entrar{
width: 100%;
padding: 12px;
margin-top: 10PX;
border: none;
border-radius: 6px;
cursor: pointer;
background-color: black;
color: white;
display: block;
font-size: 16px;
}

.links_uteis {
    text-align: center;
    margin-top: 20px;
}

.opcoes-login a {
    font-size: 16px;
}

.opcoes-login a,
.links_uteis a {
    color: black;
}